@import 'src/app/shared/styles/styles.scss';

.login-form {
    width: 260px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.password-input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 6%;
    left: 87%;
}
